.boxes {
    height: calc(var(32px) * 2);
    width: calc(var(32px) * 3);
    position: relative;
    transform-origin: 50% 50%;
    margin-top: calc(var(32px) * 1.5 * -1);
    transform: rotateX(60deg) rotateX(45deg) rotateY(0deg) translateZ(0px) ;
}